body {
	margin: 0;
	padding: 0;
}

#app {
	// width: 1000px;
	// margin: 0 auto;
}

.j-center {
	justify-content: center;
}

.grid {
	display: flex;


	.row {
		display: flex;
		flex-direction: row;
	}

	.col {
		display: flex;
		flex-direction: column;
	}
}

.abilities {
	min-width: 300px;
}

.roles {
	min-width: 500px;
}


.wrapper {
	display: table;
	width: 100vw;
	height: 100vh;

	&>div {
		display: table-cell;
		vertical-align: middle;
	}
}



.abroles {
	justify-content: space-around;
	align-items: center;
	padding: 20px 0px;
}

.chart-item {
	border: 1px solid #333;
	padding-top: 20px;
	margin: 20px 0px;
}