body {
	margin: 0;
	padding: 0;
}

.w-100 {
	width: 100%;
}

.f-1 {
	flex: 1;
}

.grid {
	display: flex;

	.row {
		display: flex;
		flex-direction: row;
	}

	.col {
		display: flex;
		flex-direction: column;
	}

	.scrollable {
		overflow-y: scroll;
		max-height: 100vh;
	}

	.scrollable-x {
		overflow-x: scroll;
		max-width: 100%;
	}

	.scrollable-y {
		overflow-y: scroll;
		max-height: 100%;
	}

	.p-1 {
		padding: 3px;
	}

	.p-b-1 {
		padding-bottom: 3px;
	}
}


.wrapper {
	display: table;
	width: 100vw;
	height: 100vh;

	&>div {
		display: table-cell;
		vertical-align: middle;
	}
}



.abroles {
	justify-content: space-around;
	align-items: center;
	padding: 20px 0px;
}

.chart-item {
	border: 1px solid #333;
	padding-top: 20px;
	margin: 20px 0px;
}